@media screen and (min-width: 500px) {
  body {
    font-size: 8vmin;
  }

  h1 {
    font-size: 10vmin;
  }

  p {
    font-size: 3vmin;
  }

  /* ---------- Modal windows ---------- */
  .modal-windows-container {
    width: 494px;
    margin: 4rem auto;
  }

  .modal-windows-container .close {
    margin-right: 3rem;
  }

  .modal-box {
    width: 400px;
  }

  .modal-box label {
    font-size: 3vmin;
  }
}
