*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-colour: #fbfcf8;
  --foreground-colour: #3c3c3c;
  --background-icons: #fafafa;
  --shadow-icons: #aaa;
}

body {
  font: 2rem "Baloo 2", cursive;
  color: var(--foreground-colour);
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-edition-button {
  align-self: flex-start;
}

.heading-container,
.timer-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.timer-container {
  align-items: flex-end;
}

.timer {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  gap: 2vmin;
  text-align: center;
}

p {
  margin: 0;
  font-size: 0.7rem;
}

button {
  background-color: var(--background-icons);
  border: none;
  border-radius: 3px;
  color: var(--foreground-colour);
  padding: 0.35rem;
  transition: all 0.5s ease-in-out;
  box-shadow: -3px 3px 6px var(--shadow-icons);
  position: relative;
}

button:hover {
  cursor: pointer;
  box-shadow: none;
  transform: scale(2);
}

.hidden {
  display: none;
}
