*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

:root {
  --foreground-colour: #3c3c3c;
  --background-icons: #fafafa;
  --shadows: #aaa;
  --borders: #d1d1d1;
  --highlight-colour: #ff4f00;
  --radius: 3px;

  --background-screen-default: #fbfcf8;
  --background-window-default: #f5f7ed;
  --background-card-default: linear-gradient(
    190deg,
    #fbfcf8 0%,
    #f5f7ed 48%,
    #edf1df 100%
  );
}

.dark-mode {
  --foreground-colour: #fbfcf8;
  --background-icons: #595959;
  --shadows: #979797;
  --borders: #808080;
  --highlight-colour: #00b7ff;

  --background-screen-default: #3c3c3c;
  --background-window-default: #333;
  --background-card-default: linear-gradient(
    190deg,
    #3c3c3c 0%,
    #333 48%,
    #292929 100%
  );
}

body {
  font: 1.5rem "Nunito", sans-serif;
  background-color: var(--background-screen-default);
  color: var(--foreground-colour);
  transition: all 0.5s ease-in-out;
  position: relative;
  max-width: 1500px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.heading-container,
.timer-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

h1 {
  font-size: 10vmin;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--radius);
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--highlight-colour);
}

.timer-container {
  align-items: flex-end;
}

.timer {
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  gap: 2vmin;
  text-align: center;
  padding: 0.5rem;
}

.timer span {
  font-size: 8vmin;
}

.timer span p {
  font-size: 5vmin;
}

p {
  margin: 0;
  font-size: 0.7rem;
}

nav {
  border: 1px solid var(--borders);
  display: flex;
  justify-content: space-around;
  border-radius: var(--radius);
  background-color: var(--background-screen-default);
  color: var(--foreground-colour);
  width: 90%;
  padding: 0.5rem 0;
  margin: 0 auto 0.5rem;
  box-shadow: -3px 3px 6px var(--shadows);
}

button {
  background-color: var(--background-screen-default);
  border: none;
  color: var(--foreground-colour);
  font-size: 1.5rem;
}

button i {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

button:hover {
  cursor: pointer;
}

.second-nav {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background-color: var(--background-screen-default);
}

.sec-nav-close {
  position: absolute;
  top: -30px;
  right: -1px;
  border-radius: var(--radius);
  background-color: var(--foreground-colour);
  color: var(--background-icons);
}

.hidden {
  display: none;
}
