*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --foreground-colour: #3c3c3c;
  --background-icons: #fafafa;
  --shadows: #aaa;

  --background-screen-default: #fbfcf8;
  --background-window-default: #f5f7ed;
  --background-card-default: linear-gradient(
    190deg,
    #fbfcf8 0%,
    #f5f7ed 48%,
    #edf1df 100%
  );
}

.dark-mode {
  --foreground-colour: #fbfcf8;
  --background-icons: #595959;
  --shadows: #979797;

  --background-screen-default: #3c3c3c;
  --background-window-default: #333;
  --background-card-default: linear-gradient(
    190deg,
    #3c3c3c 0%,
    #333 48%,
    #292929 100%
  );
}

body {
  font: 1.5rem "Nunito", sans-serif;
  background-color: var(--background-screen-default);
  color: var(--foreground-colour);
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out;
  position: relative;
}

/* header {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.heading-container,
.timer-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

.timer-container {
  align-items: flex-end;
}

.timer {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  gap: 2vmin;
  text-align: center;
}

p {
  margin: 0;
  font-size: 0.7rem;
}

nav {
  border: 1px solid grey;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  color: var(--foreground-colour);
  width: 90%;
  padding: 0.5rem 0;
  margin: 0 auto 0.5rem;
  box-shadow: -3px 3px 6px var(--shadows);
}

button {
  background-color: var(--background-screen-default);
  border: none;
  color: var(--foreground-colour);
}

button i {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* ---------- Menu ---------- */

/* .settings-menu {
  border-top: 1px solid var(--foreground-colour);
  padding: 0 2rem;
  position: relative;
  height: 10rem;
}

.settings-menu i {
  font-size: 1rem;
}

.mode-container,
.button-visibility-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  cursor: pointer;
  position: absolute;
  left: -50%;
  animation: slide-in 0.5s ease-in-out forwards;
}

.button-visibility-container {
  bottom: 0;
}

@keyframes slide-in {
  0% {
    font-style: italic;
  }

  50% {
    font-style: italic;
  }

  100% {
    left: 2rem;
  }
} */

/* ---------- Modal windows --------- */
.modal-windows-container {
  background-color: var(--background-window-default);
  border: 1px solid transparent;
  border-radius: 6px;
  animation: grow 0.5s forwards;
  position: absolute;

  top: 0;
  z-index: 10;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.modal-windows-container .close {
  background-color: var(--background-window-default);
}

.save-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.save-btn-container button {
  padding: 0.5rem 3rem;
  border-radius: 3px;
}

/* .modal-box {
  background: var(--background-card-default);
  border-radius: 6px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  box-shadow: -3px 3px 6px var(--shadows);
  width: 96%;
  animation: grow 0.5s forwards;
}

.modal-box label {
  font-size: 1rem;
}

.modal-box input {
  border-radius: 3px;
  border: 1px solid var(--foreground-colour);
} */

/* Modal heading edition */

/* .field {
  width: 90%;
} */

option[value="cursive"] {
  font-family: "Happy Monkey", cursive;
}

option[value="handwriting"] {
  font-family: "Dancing Script", cursive;
}

option[value="serif"] {
  font-family: "Josefin Slab", serif;
}

option[value="monospace"] {
  font-family: "Inconsolata", monospace;
}

option[value="sans-serif"] {
  font-family: "Poppins", sans-serif;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105vh;
  backdrop-filter: blur(0.5rem);
}

/* ---------- Images from Unsplash ---------- */

a {
  font-weight: 700;
  color: var(--foreground-colour);
}

.uns-photo-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

figure {
  position: relative;
  flex: 0 0 30%;
}

figcaption {
  font-size: 1vmax;
  background-color: #333;
  color: #fbfcf8;
  padding-left: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.uns-photo {
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
  transition: all 0.5s ease-in-out;
}

.uns-photo:hover {
  transform: scale(0.9);
}

/* ---------- Event settings ---------- */

/*Event name*/
.wrap {
  margin: 2rem 0.5rem 3rem;
  position: relative;
}

label {
  position: absolute;
  top: -0.6rem;
  font-size: 0.8rem;
  margin-left: 0.8rem;
  background-color: var(--background-window-default);
}

input[type="text"] {
  width: 100%;
  border-radius: 3px;
  padding: 1rem;
  border: 1px solid var(--shadows);
  font-size: 0.9rem;
  background-color: var(--background-window-default);
  color: var(--foreground-colour);
}

input[type="text"]:focus {
  outline: none;
}

/*Calendar*/
.test {
  border: 1px solid var(--shadows);
  border-radius: 3px;
  margin: 2rem 0.5rem 3rem;
}

.calendar-header {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

.calendar-box,
.calendar-weekday {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.weekday,
.day {
  flex: 0 0 13%;
  text-align: center;
}

.calendar-box,
.calendar-weekday {
  margin-bottom: 1rem;
}

.inactive {
  cursor: auto;
}
